<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Multi-Device Suite" parallel="tests" thread-count="2">
    <test name="Physical Device Test">
        <classes>
            <class name="org.example.MobileTest"/>
        </classes>
    </test>
    <test name="Emulator Test">
        <classes>
            <class name="org.example.EmulatorTest"/>
        </classes>
    </test>
</suite>