principalEmzima/pseint/no ubicados/
principalEmzima/noUbicados
principalEmzima/.ipynb_checkpoints
principalEmzima/pyhtonAutomatizacion/test/.pytest_cache/
principalEmzima/pythonAutomatizacion/test/__pycache__/
principalEmzima/pythonAutomatizacion/test/a_*
principalEmzima/python/pythonPseinEjercicios/prueba.py
principalEmzima/python/pythonPseinEjercicios/.vscode/
Default.rdp
PSEINT/
Para borrar/
SASV-331_Auto-Salud canal asesorVE.xls
Snagit/
Zoom/
desktop.ini
github/
pasos.txt
prueba.pbix
sf/
principalEmzima/pythonAutomatizacion/pytestBehave/.*
principalEmzima/pythonAutomatizacion/pytestBehave/__*
principalEmzima/pythonAutomatizacion/pytestBehave/loQuehicimosSoloBehave/steps/__*
principalEmzima/pythonAutomatizacion/pytestBehave/save_continue
principalEmzima/PowerBI/
principalEmzima/pyhtonAutomatizacion/saucedemoproject/.pytest_cache/
principalEmzima/pythonAutomatizacion/saucedemoproject/__pycache__/
principalEmzima/pythonAutomatizacion/saucedemoproject/Features/pages/Not_Checkout_Complete.py
principalEmzima/pythonAutomatizacion/saucedemoproject/Features/pages/Not_Description.py
principalEmzima/pythonAutomatizacion/saucedemoproject/Features/steps/test_end2end.py
principalEmzima/pythonAutomatizacion/saucedemoproject/Features/pages/Not_Checkout_Overview.py
principalEmzima/pythonAutomatizacion/saucedemoproject/Features/not_end2end.feature
principalEmzima/java/QuintaClase/PracticaII.java
# //principalEmzima/javaAutomatizacion/

.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
