principalEmzima/pseint/no ubicados/
principalEmzima/noUbicados
principalEmzima/.ipynb_checkpoints
principalEmzima/pythonAutomatizacion/test/.pytest_cache
principalEmzima/pythonAutomatizacion/test/__pycache__
principalEmzima/pythonAutomatizacion/test/test_vivo_.py
principalEmzima/pythonAutomatizacion/test/pytest